<div class="outlet">
  <h5 class="location"><%= inline_svg("location.svg", options={size: "30px*30px"}) %><%= outlet.name %></h5>
  <p>Email: <%= outlet.email %></p>
  <p>Phone: <%= outlet.phonenumber %></p>
</div>
