footer {
  position: relative;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.main {
  background-color: #f8f9fa !important;
}

.logo {
  margin-right: 10px;
}
