.carousel {
	padding: 40px 80px;
	background-image: url("../../assets/images/mountains.jpg");
  background-size: 2000px 400px;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
   display: flex !important;
}

.cards {
	margin-left: 1rem !important;
	position: relative;
}

.offer-icon {
	margin-right: 1rem;
}

.outlets {
  position: absolute !important;
	right: 0;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	border: 1px solid rgba(0, 0, 0, 0.125);
	padding: 10px;
	border-top: 0;
	height: 100%;
	border-bottom: 0;
}

.outlet {
	padding: 5px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	background-color: #f8f9fa;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	width: 100%;
	border-radius: 0.25rem;
}

.outlets-title {
margin-bottom: 20px;
}

.offers {
	padding-bottom: 3rem;
	padding-top: 5rem;
}

.location {
	cursor: pointer;
}

.filters {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 10px;
    width: 50%;
    position: absolute;
    left: 50%;
    margin-left: -25%;
    top: 50px;
    margin-top: -40px;
}

.type-selector {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.type-selector:hover, .type-selector.active, {
  text-shadow: 0.5px 0.5px black;
}

.filters .middle {
  border-left: double;
  border-right: double;
}

