.carousel {
	padding: 40px 80px;
	background-color: darkgrey;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
   display: flex !important;
}

.cards {
	margin-left: 1rem !important;
	position: relative;
}

.outlets {
    position: absolute !important;
	right: 0;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	background-color: lightgrey;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	padding: 10px;
	border-top: 0;
	height: 100%;
	border-bottom: 0;
}

.outlet {
	padding: 5px;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
	background-color: #f8f9fa;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	width: 100%;
	border-radius: 0.25rem;
}

.outlets-title {
	align-self: center;
	float: right;
}

.offers {
	padding-bottom: 3rem;
	padding-top: 3rem;
}
