<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>My attempt at a basic landing page for a booking website!</p>
    <p>Check out the repo here. <a href="https://github.com/t-harps/adventureBook">AdventureBook</a></p>
  </div>
</footer>
